﻿@model TangraTravel.MVC.Models.HomeDtos.HomeViewModel
@{
    ViewData["Title"] = "Homepage";
}

<div class="container-fluid px-6 py-4">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-12">
            <!-- Page header -->
            <div>
                <div class="border-bottom pb-4 mb-4 ">
                    <div class="mb-2 mb-lg-0">
                        <h3 class="mb-0 fw-bold">@ViewData["Title"]</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row align-items-center">
        <div class="col-xl-12 col-lg-12 col-md-12 col-12">
            <div class="card">
                <div class="tab-content p-4" id="pills-tabContent-with-caption-slide">
                    <div class="tab-pane tab-example-design fade show active" id="pills-with-caption-slide-design" role="tabpanel" aria-labelledby="pills-with-caption-slide-design-tab">
                        <div class="bd-example">
                            <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                                <ol class="carousel-indicators">
                                    <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class=""></li>
                                    <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" class=""></li>
                                    <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" class="active" aria-current="true"></li>
                                </ol>
                                <div class="carousel-inner">
                                    <div class="carousel-item">
                                        <img src="~/images/slide-img/man-travel.jpg" class="d-block w-100 rounded" alt="">
                                        <div class="carousel-caption d-none d-md-block">
                                            <h5>Where do you want to drive to?</h5>
                                            <p>Let's make this your least expensive journey ever.</p>
                                        </div>
                                    </div>
                                    <div class="carousel-item active carousel-item-start">
                                        <img src="~/images/slide-img/woman-travel.jpg" class="d-block w-100 rounded" alt="">
                                        <div class="carousel-caption d-none d-md-block">
                                            <h5>Trust who you travel with</h5>
                                            <p>We take the time to get to know each of our members and bus partners.</p>
                                        </div>
                                    </div>
                                    <div class="carousel-item carousel-item-next carousel-item-start">
                                        <img src="~/images/slide-img/bmw-mercedes-audi.jpg" class="d-block w-100 rounded" alt="">
                                        <div class="carousel-caption d-none d-md-block">
                                            <h5>Scroll, click, tap and go!</h5>
                                            <p>Booking a ride has never been easier!</p>
                                        </div>
                                    </div>
                                </div>
                                <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </a>
                                <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- content -->
    <div class="py-6">
        <!-- row -->
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-12 mb-12 margin-bot-2rem">
                <!-- card -->
                <div class="card rounded-12">
                    <!-- card body -->
                    <div class="card-body">
                        <!-- heading -->
                        <div class="d-flex justify-content-between align-items-center mb-3">
                            <div>
                                <h3 class="mb-0">Our company</h3>
                            </div>
                            <div class="icon-shape icon-md bg-light-primary text-primary rounded-1">
                                <i class="bi bi-info-square fs-4"></i>
                            </div>
                        </div>
                        <!-- project info -->
                        <div>
                            <span>
                                Our vision is to live in a world where we all share resources to better preserve our planet.
                                As humans, we have to travel: for life, for work, for fun.
                                Travel opens the mind, it breaks social barriers. It makes us more tolerant. It makes us better.
                                We believe travel is a fundamental right—not a privilege.
                                With the right use of technology and your support, we believe we can make travel more accessible for everyone.
                                Our mission is simple: to fill empty seats in cars and help people travel together.
                                We do this by connecting drivers with people heading the same way. By sharing trips, we create a new type of travel that is more social, affordable and sustainable.
                                We help people share moments in the real world.
                                Together. In person.
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-12 mb-12 margin-bot-2rem">
                <!-- card -->
                <div class="card rounded-12">
                    <!-- card body -->
                    <div class="card-body">
                        <!-- heading -->
                        <div class="d-flex justify-content-between align-items-center mb-3">
                            <div>
                                <h3 class="mb-0">Our Features</h3>
                            </div>
                            <div class="icon-shape icon-md bg-light-primary text-primary rounded-1">
                                <i class="bi bi-list-stars fs-4"></i>
                            </div>
                        </div>
                        <!-- project features -->
                        <div>
                            <h4>Safety is our #1 priority.</h4>
                            <ul>
                                <li>We’ve built trust and safety right into the platform to ensure you’re comfortable sharing a ride.</li>
                                <li>Email, phone & bank account verifications.</li>
                                <li>Read driver's reviews before booking.</li>
                                <li>Customer service 7 days a week.</li>
                            </ul>

                            <h4>Book and pay online, it’s easy.</h4>
                            <ul>
                                <li>You reserve your seats online before the trip with the driver. Just sit back, relax and enjoy the ride!</li>
                                <li>We accept all major credit cards and Visa / Mastercard debit cards</li>
                                <li>No need to carry cash or do trips to the ATM</li>
                                <li>The driver is paid after the trip is complete and we can easily process refunds, if needed.</li>
                            </ul>

                            <h4>Review your driver.</h4>
                            <ul>
                                <li>After each ride, review your driver and build your reputation in the Tangra Travel community.</li>
                                <li>Leave a star rating and a review for the driver.</li>
                                <li>Receive reviews from drivers and build your reputation within the community.</li>
                                <li>Give the Tangra Travel team your feedback about your experience.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-12 mb-12 margin-bot-2rem">
                <!-- card -->
                <div class="card rounded-12">
                    <!-- card body -->
                    <div class="card-body">
                        <!-- heading -->
                        <div class="d-flex justify-content-between align-items-center mb-3">
                            <div>
                                <h4 class="mb-0">Our Customers so far</h4>
                            </div>
                            <div class="icon-shape icon-md bg-light-primary text-primary rounded-1">
                                <i class="bi bi-people fs-4"></i>
                            </div>
                        </div>
                        <!-- customers number -->
                        <div>
                            <h1 class="fw-bold">@Model.UsersCount</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-12 mb-12 margin-bot-2rem">
                <!-- card -->
                <div class="card rounded-12">
                    <!-- card body -->
                    <div class="card-body">
                        <!-- heading -->
                        <div class="d-flex justify-content-between align-items-center mb-3">
                            <div>
                                <h4 class="mb-0">Our Travels so far</h4>
                            </div>
                            <div class="icon-shape icon-md bg-light-primary text-primary rounded-1">
                                <i class="bi bi-signpost-split fs-4"></i>
                            </div>
                        </div>
                        <!-- travels number -->
                        <div>
                            <h1 class="fw-bold">@Model.TravelsCount</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
