﻿@model IEnumerable<TangraTravel.MVC.Models.CustomerDto.TopCustomerViewModel>
@{
    ViewData["Title"] = "Top 10 passengers";
    int i = 1;
}

<div class="container-fluid px-6 py-4">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-12">
            <!-- Page header -->
            <div>
                <div class="border-bottom pb-4 mb-4 ">
                    <div class="mb-2 mb-lg-0">
                        <h3 class="mb-0 fw-bold">@ViewData["Title"]</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- content -->
    <div>
        <!-- row -->
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-12 mb-12 margin-bot-2rem">
                <!-- table -->
                <div class="table-responsive">
                    <table class="table table-bordered bg-light-warning">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Avatar</th>
                                <th scope="col">Rating</th>
                                <th scope="col">Full Name</th>
                                <th scope="col">Username</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var driver in this.Model)
                            {
                                <tr>
                                    <th scope="row">@(i++)</th>
                                    <td>
                                        <div class="avatar avatar-md">
                                            <img alt="user_avatar" src=@driver.AvatarUrl class="rounded-circle" />
                                        </div>
                                    </td>
                                    <td>@driver.Rating</td>
                                    <td>@driver.FullName</td>
                                    <td>@driver.UserName</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


