﻿@model TangraTravel.MVC.Models.TravelDtos.FilterAvailableViewModel

<div class="container-fluid px-6 py-4">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-12">
            <!-- Page header -->
            <div>
                <div class="border-bottom pb-4 mb-4 ">
                    <div class="mb-2 mb-lg-0">
                        <h3 class="mb-0 fw-bold">Trip filtering</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <!-- card header  -->
        <div class="card-header p-4 bg-white">
            <h4 class="mb-0">Select filtering criterion</h4>
        </div>
        <!-- card body  -->
        <div class="card-body">
            <!-- row  -->
            <div class="row">
                <form asp-action="FilterByStartAddressPass" method="get">
                    <!-- row -->
                    <div class="mb-3 row">
                        <label asp-for="@this.Model.StartAddressId" class="col-sm-3 col-form-label form-label">By start point</label>
                        <div class="col-md-8 col-12">
                            <select asp-for="StartAddressId" asp-items="@this.Model.StartAddresses" class="form-select" id="startPoint">
                            </select>
                        </div>
                        <div class="col-sm-1">
                            <button type="submit" class="btn btn-primary"> @ViewData["ButtonValue"] </button>
                        </div>
                    </div>
                </form>
            </div>

            <!-- row  -->
            <div class="row">
                <form asp-action="FilterByEndAddressPass" method="get">
                    <!-- row -->
                    <div class="mb-3 row">
                        <label asp-for="@this.Model.EndAddressId" class="col-sm-3 col-form-label form-label">By end point</label>
                        <div class="col-md-8 col-12">
                            <select asp-for="EndAddressId" asp-items="@this.Model.EndAddresses" class="form-select" id="endPoint">
                            </select>
                        </div>
                        <div class="col-sm-1">
                            <button type="submit" class="btn btn-primary">  @ViewData["ButtonValue"] </button>
                        </div>
                    </div>
                </form>
            </div>

            <!-- row  -->
            <div class="row">
                <form asp-action="FilterByDriverPass" method="get">
                    <!-- row -->
                    <div class="mb-3 row">
                        <label asp-for="@this.Model.DriverId" class="col-sm-3 col-form-label form-label">By driver</label>
                        <div class="col-md-8 col-12">
                            <select asp-for="DriverId" asp-items="@this.Model.Drivers" class="form-select" id="driver">
                            </select>
                        </div>
                        <div class="col-sm-1">
                            <button type="submit" class="btn btn-primary"> @ViewData["ButtonValue"] </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>