﻿@model TangraTravel.MVC.Models.TravelDtos.TravelsByPageViewModel
@{
    ViewData["Title"] = "Trips";
    ViewData["Description"] = "My trips as driver";
    ViewData["Action"] = "AllAsDriver";
}

<div class="container-fluid px-6 py-4">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-12">
            <!-- Page header -->
            <div>
                <div class="border-bottom pb-4 mb-4 ">
                    <div class="mb-2 mb-lg-0">
                        <h3 class="mb-0 fw-bold">@ViewData["Description"]</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="ms-0 ms-lg-3">
            <a asp-controller="Travel" asp-action="FilterDriverTravels" class="btn btn-outline-primary btn-sm">
                Filter trips
            </a>
            <a asp-controller="Travel" asp-action="SortDriverTravels" class="btn btn-outline-primary btn-sm">
                Sort Trips
            </a>
        </div>
    </div>

    <partial name="_DriverTravelsTableView" />
</div>