﻿@model TangraTravel.MVC.Models.TravelDtos.CreateTravelViewModel
@{
    ViewData["Title"] = "Create trip";
}

<div class="container-fluid px-6 py-4">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-12">
            <!-- Page header -->
            <div>
                <div class="border-bottom pb-4 mb-4 ">
                    <div class="mb-2 mb-lg-0">
                        <h3 class="mb-0 fw-bold">Create new trip</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <!-- card header  -->
        <div class="card-header p-4 bg-white">
            <h4 class="mb-0">Trip details</h4>
        </div>
        <!-- card body  -->
        <div class="card-body">
            <!-- row  -->
            <form asp-action="CreateTravel" method="post">
                <!-- row -->
                <div class="mb-3 row">
                    <label asp-for="@this.Model.Addresses" class="col-sm-3 col-form-label form-label">Start point</label>
                    <div class="col-md-9 col-12">
                        <select asp-for="StartAddressId" asp-items="@this.Model.Addresses" class="form-select" id="status">
                        </select>
                    </div>
                </div>
                <!-- row -->
                <div class="mb-3 row">
                    <label asp-for="@this.Model.Addresses" class="col-sm-3 col-form-label form-label">End point</label>
                    <div class="col-md-9 col-12">
                        <select asp-for="EndAddressId" asp-items="@this.Model.Addresses" class="form-select" id="status">
                        </select>
                    </div>
                </div>
                <!-- row -->
                <div class="mb-3 row">
                    <label for="DepartureTime" class="col-sm-3 col-form-label form-label">Departure time</label>
                    <div class="col-sm-9 mb-3 mb-lg-0">
                        <input type="date" class="form-control"  asp-for="DepartureTime">
                    </div>
                </div>
                <!-- Textarea -->
                <div class="mb-3 row">
                    <label for="Comment" class="col-sm-3 col-form-label form-label">Optional comment</label>
                    <div class="col-sm-9 mb-3 mb-lg-0">
                        <textarea asp-for="Comment" class="form-control" id="comment" rows="5"></textarea>
                    </div>
                </div>
                <!-- button -->
                <div class="offset-md-3 col-md-8 col-12 mt-3">
                    <button type="submit" class="btn btn-primary"> Save Changes </button>
                </div>
            </form>
        </div>
    </div>
</div>