﻿@model TangraTravel.MVC.Models.TravelDtos.TravelPassengerDetailsViewModel
@{
    ViewData["Title"] = "My driver trip";
}

<div class="container-fluid px-6 py-4">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-12">
            <!-- Page header -->
            <div>
                <div class="border-bottom pb-4 mb-4 ">
                    <div class="mb-2 mb-lg-0">
                        <h3 class="mb-0 fw-bold">Trip overview</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-6 col-lg-12 col-md-12 col-12 mb-6">
            <div class="card">
                <!-- card header  -->
                <div class="card-header p-4 bg-white">
                    <h4 class="mb-0">Trip details</h4>
                </div>
                <!-- card body  -->
                <div class="card-body">
                    <!-- row  -->
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-12">
                            <ul class="list-group">
                                <li class="list-group-item">Start point: @Model.StartAddress</li>
                                <li class="list-group-item">End point: @Model.EndAddress</li>
                                <li class="list-group-item">Departure Time: @Model.DepartureTime</li>
                                <li class="list-group-item">Free seats: @Model.FreeSeats</li>
                                <li class="list-group-item">Driver: @Model.DriverName</li>
                                <li class="list-group-item">Car Reg Number: @Model.CarRegNumber</li>
                                <li class="list-group-item">Car Brand: @Model.CarBrand</li>
                                <li class="list-group-item">Car Model: @Model.CarModel</li>
                                <li class="list-group-item">Trip status: @Model.Status</li>
                                <li class="list-group-item">Comments: @Model.Comment</li>
                            </ul>
                        </div>
                    </div>
                </div>
                @if (@Model.Status != "Completed")
                {
                    <!-- card footer  -->
                    <div class="card-footer bg-white">
                        <div class="d-md-flex justify-content-between
                        align-items-center">
                            <div class="text-center text-md-start">
                                <form asp-action="CompleteTravel" method="post">
                                    <input type="hidden" asp-for="TravelId" class="form-control">
                                    <button type="submit" class="btn btn-outline-white ms-2"> Complete trip </button>
                                </form>
                            </div>
                            @if (@Model.Status == "Open")
                            {
                                <div class="text-center text-md-start">
                                    <form asp-action="MarkAsTravelling" method="post">
                                        <input type="hidden" asp-for="TravelId" class="form-control">
                                        <button type="submit" class="btn btn-outline-white ms-2"> Mark as travelling </button>
                                    </form>
                                </div>
                                <div class="text-center text-md-start">
                                    <form asp-action="DeleteTravel" method="post">
                                        <input type="hidden" asp-for="TravelId" class="form-control">
                                        <button type="submit" class="btn btn-outline-white ms-2"> Cancel trip </button>
                                    </form>
                                </div>
                            }
                        </div>
                    </div>
                }
            </div>
        </div>

        <div class="col-xl-6 col-lg-12 col-md-12 col-12 mb-6">
            <div class="card">
                @(await Component.InvokeAsync("TravelApplicants", Model.TravelId))
            </div>
        </div>
    </div>
</div>