﻿@model TangraTravel.MVC.Models.TravelDtos.TravelsByPageViewModel
@{
    ViewData["Title"] = "Trips";
    ViewData["Description"] = "My passenger trips - filtered";
}

<div class="container-fluid px-6 py-4">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-12">
            <!-- Page header -->
            <div>
                <div class="border-bottom pb-4 mb-4 ">
                    <div class="mb-2 mb-lg-0">
                        <h3 class="mb-0 fw-bold">@ViewData["Description"]</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <partial name="_PassengerTravelsTableView" />
</div>
