﻿@model TangraTravel.MVC.Models.TravelDtos.TravelPassengerDetailsViewModel
@{
    ViewData["Title"] = "My passenger trip";
}

<div class="container-fluid px-6 py-4">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-12">
            <!-- Page header -->
            <div>
                <div class="border-bottom pb-4 mb-4 ">
                    <div class="mb-2 mb-lg-0">
                        <h3 class="mb-0 fw-bold">Trip overview</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <!-- card header  -->
        <div class="card-header p-4 bg-white">
            <h4 class="mb-0">Trip details</h4>
        </div>
        <!-- card body  -->
        <div class="card-body">
            <!-- row  -->
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-12">
                    <ul class="list-group">
                        <li class="list-group-item">Start point: @Model.StartAddress</li>
                        <li class="list-group-item">End point: @Model.EndAddress</li>
                        <li class="list-group-item">Departure Time: @Model.DepartureTime</li>
                        <li class="list-group-item">Free seats: @Model.FreeSeats</li>
                        <li class="list-group-item">Driver: @Model.DriverName</li>
                        <li class="list-group-item">Car Reg Number: @Model.CarRegNumber</li>
                        <li class="list-group-item">Car Brand: @Model.CarBrand</li>
                        <li class="list-group-item">Car Model: @Model.CarModel</li>
                        <li class="list-group-item">Trip status: @Model.Status</li>
                        <li class="list-group-item">Comments: @Model.Comment</li>
                    </ul>
                </div>                
            </div>
        </div>
        @if (Model.Status == "Open")
        {
        <!-- card footer  -->
        <div class="card-footer bg-white">
            <div class="d-md-flex justify-content-between
                        align-items-center">
                <!-- text  -->
                <div class="mb-3 mb-lg-0 text-center text-sm-start">

                </div>
                <div class="text-center text-md-start">
                    <form asp-action="CancelTravel" method="post">
                        <input type="hidden" asp-for="TravelId" class="form-control">
                        <button type="submit" class="btn btn-outline-white ms-2"> Cancel trip </button>
                    </form>
                </div>
            </div>
        </div>
        }
    </div>
</div>