﻿@model TangraTravel.MVC.Models.TravelDtos.ApplicantStatusViewModel
@{
    ViewData["Title"] = "Trip applicant";
}

<div class="container-fluid px-6 py-4">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-12">
            <!-- Page header -->
            <div>
                <div class="border-bottom pb-4 mb-4 ">
                    <div class="mb-2 mb-lg-0">
                        <h3 class="mb-0 fw-bold">Trip applicant</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <!-- card header  -->
        <div class="card-header p-4 bg-white">
            <h4 class="mb-0">Trip details</h4>
        </div>
        <!-- card body  -->
        <div class="card-body">
            <!-- row  -->
            <form asp-action="UpdateApplyStatus" method="post">
                <input type="hidden" asp-for="TravelId" class="form-control" value="@this.Model.TravelId">
                <input type="hidden" asp-for="TravelPassengerId" class="form-control" value="@this.Model.TravelPassengerId">
                <!-- row -->
                <div class="mb-3 row">
                    <label for="" class="col-sm-3 col-form-label
                          form-label">Full name</label>
                    <div class="col-sm-9 mb-3 mb-lg-0">
                        <input type="text" class="form-control" value="@this.Model.FullName" readonly>
                    </div>
                </div>
                <!-- row -->
                <div class="mb-3 row">
                    <label asp-for="@this.Model.ApplicantStatuses" class="col-sm-3 col-form-label form-label">Applicant status</label>
                    <div class="col-md-9 col-12">
                        <select asp-for="ApplyStatus" asp-items="@this.Model.ApplicantStatuses" class="form-select" id="status">
                        </select>
                    </div>
                </div>
                <!-- button -->
                <div class="offset-md-3 col-md-8 col-12 mt-3">
                    <button type="submit" class="btn btn-primary"> Save Changes </button>
                </div>
            </form>
        </div>
    </div>
</div>