﻿@model TangraTravel.MVC.Models.ErrorViewModel
@{
    ViewData["Title"] = "Error Car";
}

<div class="border-bottom pb-4 mb-4 d-flex align-items-center justify-content-between">
    <div class="mb-2 mb-lg-0">
        <h3 class="mb-0 fw-bold">ErrorMessage</h3>
    </div>
</div>
<div class="col-xl-9 col-lg-8 col-md-12 col-12">
    <!-- card -->
    <div class="card">
        <!-- card body -->
        <div class="card-body">            
            <div class="alert alert-danger" role="alert">
                <h2>Error: @Model.ErrorMessage</h2>
            </div>
        </div>
    </div>
</div>