﻿@model TangraTravel.MVC.Models.CarDto.CarRegisterViewModel
@{
    ViewData["Title"] = "Register Car";
}


<div class="container-fluid px-6 py-4">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-12">
            <!-- Page header -->
            <div>
                <div class="border-bottom pb-4 mb-4 ">
                    <div class="mb-2 mb-lg-0">
                        <h3 class="mb-0 fw-bold">Register car</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <!-- card header  -->
        <div class="card-header p-4 bg-white">
            <h4 class="mb-0">Basic information</h4>
        </div>
        <div class="card-body">
            <form asp-action="Register" method="post">
                <!-- Select Option -->
                <div class="mb-3">
                    <label class="form-label" for="selectOne"> Select Brand and Model </label>
                    <select asp-for="ModelId" asp-items="Model.BasicCarInfromation" class="form-select" id="model">
                        <option value="@this.Model.ModelId"></option>
                    </select>
                    <span asp-validation-for="ModelId" class="alert-danger"></span>
                </div>
                <!-- Input -->
                <div class="mb-3">
                    <label class="form-label" for="textInput">Registration Number</label>
                    <input type="text" asp-for="RegistrationNumber" id="textInput" class="form-control" placeholder="@Model.RegistrationNumber">
                    <span asp-validation-for="RegistrationNumber" class="alert-danger"></span>
                </div>
                <!-- Helper Text -->
                <div class="mb-3">
                    <span class="text-muted ">
                        Registration number must be 4-10 characters long
                    </span>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="textInput">Free Steats</label>
                    <input type="text" asp-for="Seats" id="textInput" class="form-control" placeholder="@Model.Seats">
                    <span asp-validation-for="Seats" class="alert-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary"> Save Changes </button>
            </form>
        </div>
    </div>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}
