﻿@model TangraTravel.MVC.Models.CarDto.CarViewModel
@{
    ViewData["Title"] = "Update Car";
}

<div class="container-fluid px-6 py-4">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-12">
            <!-- Page header -->
            <div>
                <div class="border-bottom pb-4 mb-4 ">
                    <div class="mb-2 mb-lg-0">
                        <h3 class="mb-0 fw-bold">Update car</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- card -->
    <div class="card">
        <!-- card body -->
        <div class="card-body">
            <div class=" mb-6">
                <h4 class="mb-1">Car Settings</h4>
            </div>
            <div class="row align-items-center mb-8">
                <div class="col-md-9">
                    <div class="d-flex align-items-center">
                        <div class="me-3">
                            <img style="width:150px;" src="@Model.Avatar.ImageUrl" class="card-img-top" alt="@Model.Avatar.Alt">
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <!-- border -->
                <div class="mb-6">
                    <h4 class="mb-1">Basic information</h4>
                </div>
                <form asp-action="Update" method="post">
                    <!-- row -->
                    <div class="mb-3 row">
                        <label for="Owner" class="col-sm-4 col-form-label
                          form-label">Owner</label>
                        <div class="col-sm-4 mb-3 mb-lg-0">
                            <input type="text" asp-for="Owner" class="form-control" value="@this.Model.Owner" id="Owner" readonly>
                        </div>
                    </div>
                    <!-- row -->
                    <div class="mb-3 row">
                        <label asp-for="Seats" class="col-sm-4 col-form-label
                          form-label">Email</label>
                        <div class="col-sm-4 mb-3 mb-lg-0">
                            <input type="text" asp-for="Seats" class="form-control" value="@this.Model.Seats" id="email" readonly>
                        </div>
                    </div>
                    <!-- row -->
                    <div class="mb-3 row">
                        <label asp-for="RegistrationNumber" class="col-sm-4 col-form-label
                          form-label">Username</label>
                        <div class="col-sm-4 mb-3 mb-lg-0">
                            <input type="text" asp-for="RegistrationNumber" class="form-control" placeholder="@this.Model.RegistrationNumber" id="phone" required>
                            <span asp-validation-for="RegistrationNumber" class="alert-danger"></span>
                        </div>
                    </div>
                    <!-- button -->
                    <div class="offset-md-4 col-md-8 col-12 mt-3">
                        <button type="submit" class="btn btn-primary"> Save Changes </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}
