﻿@model TangraTravel.MVC.Models.FeedbackDto.FeedbackByPageViewModel

<div class="container-fluid px-6 py-4">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-12">
            <!-- Page header -->
            <div>
                <div class="border-bottom pb-4 mb-4 ">
                    <div class="mb-2 mb-lg-0">
                        <h3 class="mb-0 fw-bold">Feedbacks</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @if (Model.FeedbackComments.Count != 0)
    {
        <div class="py-1">
            <div class="col-xl-12 col-lg-12 col-md-12 col-12 mb-12">
                @foreach (var item in Model.FeedbackComments)
                {
                    <div class="row">
                        <div class="card margin-bot-2rem" style="margin-bottom: 20px">
                            <div class="card-body">
                                <h4 class="card-title">Rating: @item.Rating</h4>
                                <h5 class="card-title">Author: @item.Author, Username: @item.AuthorUsername</h5>
                                <h5 class="card-title">Recepient: @item.Recepient, Username: @item.RecepientUsername</h5>
                                <p class="card-text">Comment: @item.Comment</p>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                @if (Model.Page > 1)
                {
                    <li class="page-item">
                        <a class="page-link" asp-action="@ViewData["Action"]"
                           asp-route-page="@(Model.Page - 1)" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                }
                <li class="page-item"><a class="page-link" href="#">@Model.Page</a></li>
                @if (Model.Page + 1 <= Model.MaxPage)
                {
                    <li class="page-item">
                        <a class="page-link"
                           asp-action="@ViewData["Action"]"
                           asp-route-page="@(Model.Page + 1)" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                }
            </ul>
        </nav>
    }
    else
    {
        <h1> History is empty </h1>
    }
</div>