﻿@model TangraTravel.MVC.Models.FeedbackDto.FeedbackApplyViewModel
@{
    ViewData["Title"] = "Apply Feedbacks";
    int index = 1;
}

<div class="container-fluid px-6 py-4">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-12">
            <!-- Page header -->
            <div>
                <div class="border-bottom pb-4 mb-4 ">
                    <div class="mb-2 mb-lg-0">
                        <h3 class="mb-0 fw-bold">Select Travel for giving Feedbacks</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @if (Model.Travels.Count == 0)
    {
        <h3 class="mb-0 fw-bold">All feedbacks are given</h3>
    }
    else
    {
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Start Point</th>
                    <th scope="col">End Point</th>
                    <th scope="col">Arrival Date</th>
                    <th scope="col">Role</th>
                    <th scope="col">Apply</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Travels)
                {
                    <tr>
                        <th scope="row">@(index++)</th>
                        <td>@item.StartPoint</td>
                        <td>@item.EndPoint</td>
                        <td>@item.ArrivalDate</td>
                        <td>@item.Role</td>
                        <td>
                            @if (item.Role == "Passenger")
                            {
                                <a class="btn btn-outline-dark"
                                   asp-controller="Feedback" asp-action="PassengerFeedback" asp-route-travelId="@item.TravelId">
                                    Feedbacks
                                </a>
                            }
                            else
                            {
                                <a class="btn btn-outline-dark"
                                   asp-controller="Feedback" asp-action="DriverFeedback" asp-route-travelId="@item.TravelId">
                                    Feedbacks
                                </a>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                @if (Model.Page > 1)
                {
                    <li class="page-item">
                        <a class="page-link" asp-action="ApplyComment"
                           asp-route-page="@(Model.Page - 1)" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                }
                @if (Model.Travels.Count != 0)
                {
                    <li class="page-item"><a class="page-link" href="#">@Model.Page</a></li>
                }
                else
                {
                    <li class="page-item"><a class="page-link"  asp-action="ApplyComment"
                           asp-route-page="1)">In the begining</a></li>
                }
                @if (Model.Travels.Count != 0)
                {
                    <li class="page-item">
                        <a class="page-link"
                           asp-action="ApplyComment"
                           asp-route-page="@(Model.Page + 1)" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                }
            </ul>
        </nav>
    }
</div>