﻿@model TangraTravel.MVC.Models.FeedbackDto.FeedbackViewModel
@{
    ViewData["Title"] = "ApplyComments";
}


<div class="container-fluid px-6 py-4">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-12">
            <!-- Page header -->
            <div>
                <div class="border-bottom pb-4 mb-4 ">
                    <div class="mb-2 mb-lg-0">
                        <h3 class="mb-0 fw-bold">Create Feedback</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <!-- card header  -->
        <div class="card-header p-4 bg-white">
            <h4 class="mb-0">Feedback details</h4>
        </div>
        <!-- card body  -->
        <div class="card-body">
            <!-- row  -->
            <form asp-action="DriverFeedback" asp-route-travelId="@Model.TravelId" method="post">
                <!-- row -->
                <div class="mb-3 row">
                    <label asp-for="TargetId" class="col-sm-3 col-form-label form-label">Location</label>
                    <div class="col-md-9 col-12">
                        <select asp-for="TargetId" asp-items="Model.Targets" class="form-select" id="status">
                        </select>
                    </div>
                </div>
                <!-- row -->
                <div class="mb-3 row">
                    <label asp-for="Rating" class="col-sm-3 col-form-label form-label">End point</label>
                    <div class="col-md-9 col-12">
                        <select asp-for="Rating" value="@this.Model.Rating" class="form-select" id="status">
                            @for (int i = 0; i <= 5; i++)
                            {
                                <option value="@i">@i</option>
                            }
                        </select>
                    </div>
                </div>
                <!-- Textarea -->
                <div class="mb-3 row">
                    <label for="Comment" class="col-sm-3 col-form-label form-label">Optional comment</label>
                    <div class="col-sm-9 mb-3 mb-lg-0">
                        <textarea asp-for="Comment" value="@this.Model.Comment" class="form-control" id="comment" rows="5"></textarea>
                    </div>
                </div>
                <!-- button -->
                <div class="offset-md-3 col-md-8 col-12 mt-3">
                    <button type="submit" class="btn btn-primary"> Submit </button>
                </div>
            </form>
        </div>
    </div>
</div>