﻿@model TangraTravel.Service.Models.FeedbackDtos.FeedbackReturnDto
@{
    ViewData["Title"] = "Feedback";
}
<div class="container-fluid px-6 py-4">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-12">
            <!-- Page header -->
            <div>
                <div class="border-bottom pb-4 mb-4 ">
                    <div class="mb-2 mb-lg-0">
                        <h3 class="mb-0 fw-bold">Feedback</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="py-1">
        <div class="col-xl-12 col-lg-12 col-md-12 col-12 mb-12">
            <div class="row">
                <div class="card margin-bot-2rem inline-flex-card">
                    <div class="card-body">
                        <h4 class="card-title">Rating: @Model.Rating</h4>
                        <h5 class="card-title">Author: @Model.Author, Username: @Model.AuthorUsername</h5>
                        <h5 class="card-title">Recepient: @Model.Target, Username: @Model.TargetUsername</h5>
                        @*<h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>*@
                        <p class="card-text">Commetnt: @Model.Comment</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
