﻿@model TangraTravel.MVC.Models.FeedbackDto.FeedbackIndexByPageViewModel
@{
    ViewData["Title"] = "Feedbacks Table";
    int i = 1;
}

<div class="container-fluid px-6 py-4">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-12">
            <!-- Page header -->
            <div>
                <div class="border-bottom pb-4 mb-4 ">
                    <div class="mb-2 mb-lg-0">
                        <h3 class="mb-0 fw-bold">Customer Feedbacks</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Avatar</th>
                <th scope="col">Full Name</th>
                <th scope="col">Rating</th>
                <th scope="col">Username</th>
                <th scope="col">Status</th>
                <th scope="col">To Feedbacks</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.FeedbackCustomers)
            {
                <tr>
                    <th scope="row">@(i++)</th>
                    <td>
                        <div class="avatar">
                            <img alt="N/A" src=@item.AvatarUrl class="rounded-circle" />
                        </div>
                    </td>
                    <td>@item.FullName</td>
                    <td>@item.Rating</td>
                    <td>@item.UserName</td>
                    <td>@item.Role</td>
                    <td>
                        <a class="btn btn-outline-dark"
                           asp-controller="Feedback" asp-action="Selected" asp-route-userId="@item.CustomerId" asp-route-page="1">
                            Feedbacks
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            @if (Model.Page > 1)
            {
                <li class="page-item">
                    <a class="page-link" asp-action="Index"
                       asp-route-page="@(Model.Page-1)"
                       asp-route-byPage="@Model.ByPage" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            }
            <li class="page-item"><a class="page-link" href="#">@Model.Page</a></li>
            @if (Model.Page + 1 <= Model.MaxPage)
            {
                <li class="page-item">
                    <a class="page-link"
                       asp-action="Index"
                       asp-route-page="@(Model.Page+1)"
                       asp-route-byPage="@Model.ByPage" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            }
        </ul>
    </nav>
</div>