﻿@model TangraTravel.MVC.Models.FeedbackDto.FeedbackViewModel
@{
    ViewData["Title"] = "ApplyComments";
}

<div>
    <!-- border -->
    <div class="mb-6">
        <h4 class="mb-1">Leaving feedback</h4>
    </div>
    <form asp-action="PassengerFeedback" asp-route-travelId="@Model.TravelId" method="post">
        <!-- row -->
        <div class="mb-3 row">
            <label asp-for="TargetId" class="col-sm-4 col-form-label form-label">Location</label>
            <div class="col-md-8 col-12">
                <select asp-for="TargetId" asp-items="Model.Targets" class="form-select" id="User">
                    @*<option value="@this.Model.AddressId"></option>*@
                </select>
            </div>
        </div>
        <!-- row -->
        <div class="mb-3 row">
            <label asp-for="Rating" class="col-sm-4 col-form-label form-label">Rating</label>
            <div class="col-sm-4 mb-3 mb-lg-0">
                <select asp-for="Rating" class="form-select" value="@this.Model.Rating" id="Rating" required>
                    @for (int i = 0; i <= 5; i++)
                    {
                        <option value="@i">@i</option>
                    }
                </select>
                <span asp-validation-for="Rating" class="alert-danger"></span>
            </div>
        </div>
        <div class="mb-3 row">
            <div class="input-group">
                <span class="col-sm-4 col-form-label form-label">Comment (Optional)</span>
                <div class="col-sm-4 mb-3 mb-lg-0">
                    <textarea class="form-control" aria-label="Comment" type="text" asp-for="Comment" value="@this.Model.Comment" id="Comment"></textarea>
                    <span asp-validation-for="Comment" class="alert-danger"></span>
                </div>
            </div>
        </div>
        <!-- button -->
        <div class="offset-md-4 col-md-8 col-12 mt-3">
            <button type="submit" class="btn btn-primary"> Submit </button>
        </div>
    </form>
</div>