﻿@model TangraTravel.MVC.Models.Component.FeedbackProfileViewModel
@{
    int bestIndex = 1;
    int badIndex = 1;
}

<!-- card body -->
<div class="card-body">
    <!-- card title -->
    <div class="row">
        <div class="col-6 mb-5">
            <h4 class="card-title mb-4">Best Feedbacks</h4>
            @foreach (var best in Model.Bests)
            {
                <div class="d-md-flex justify-content-between align-items-center mb-4">
                    <div class="d-flex align-items-center">
                        <div>
                            <div class="icon-shape icon-lg border p-4 rounded-1">
                                <a asp-controller="Feedback" asp-action="GetFeedback" asp-route-feedbackId="@best.FeedbackId" class="text-inherit">
                                    <img width="24" height="24" src="~/images/feedback/PositiveFeedback.png" alt="Positive" />
                                </a>
                            </div>
                        </div>
                        <!-- text -->
                        <div class="ms-3 ">
                            <h5 class="mb-1">
                                <a asp-controller="Feedback" asp-action="GetFeedback" asp-route-feedbackId="@best.FeedbackId" class="text-inherit">
                                    Feedback #@(bestIndex++)
                                </a>
                            </h5>
                            <p class="mb-0 fs-5 text-muted">Author: @best.Author</p>
                            <p class="mb-0 fs-5 text-muted">Rate: @best.Rating</p>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="col-6 mb-5">
            <h4 class="card-title mb-4">Bad Feedbacks</h4>
            @foreach (var bad in Model.Bads)
            {
                <div class="d-md-flex justify-content-between align-items-center mb-4">
                    <div class="d-flex align-items-center">
                        <div>
                            <div class="icon-shape icon-lg border p-4 rounded-1">
                                <a asp-controller="Feedback" asp-action="GetFeedback" asp-route-feedbackId="@bad.FeedbackId" class="text-inherit">
                                    <img width="24" height="24" src="~/images/feedback/NegativeFeedback.png" alt="Negative" />
                                </a>
                            </div>
                        </div>
                        <!-- text -->
                        <div class="ms-3 ">
                            <h5 class="mb-1">
                                <a asp-controller="Feedback" asp-action="GetFeedback" asp-route-feedbackId="@bad.FeedbackId" class="text-inherit">
                                    Feedback #@(badIndex++)
                                </a>
                            </h5>
                            <p class="mb-0 fs-5 text-muted">Author: @bad.Author</p>
                            <p class="mb-0 fs-5 text-muted">Rate: @bad.Rating</p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>