﻿@{
    string avatar = User.Claims.FirstOrDefault(a => a.Type == "Avatar")?.Value;
    string alt = User.Claims.FirstOrDefault(a => a.Type == "Alt")?.Value;
    string fullName = User.Identity.Name;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TangraTravel.MVC</title>

    <!-- Libs CSS -->

    <link rel="stylesheet" href="~/lib/prismjs/themes/prism.css">
    <link rel="stylesheet" href="~/lib/prismjs/plugins/line-numbers/prism-line-numbers.css">
    <link rel="stylesheet" href="~/lib/prismjs/plugins/toolbar/prism-toolbar.css">
    <link rel="stylesheet" href="~/lib/bootstrap-icons/font/bootstrap-icons.css">
    <link rel="stylesheet" href="~/lib/dropzone/dist/dropzone.css">
    <link href="~/lib/mdi/font/css/materialdesignicons.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.css">
    <link href="~/css/theme.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <div class="header @@classList">
            <div class="card">
                <div class="tab-content p-4" id="pills-tabContent-default-navbar">
                    <nav class="navbar navbar-expand-lg navbar-light no-padding">
                        <a class="navbar-brand" href="#"><img src="~/images/brand/logo/tangra_travel_logo.png" alt="tangra_travel_logo"></a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav me-auto">
                                <li class="nav-item active">
                                    <a asp-controller="Home" asp-action="Index" class="nav-link">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a asp-controller="Home" asp-action="TopDrivers" class="nav-link">TOP Drivers</a>
                                </li>
                                <li class="nav-item">
                                    <a asp-controller="Home" asp-action="TopPassengers" class="nav-link">TOP Passengers</a>
                                </li>
                                @if (User.Identity.IsAuthenticated && (User.IsInRole("Driver") || User.IsInRole("Passenger")))
                                {
                                    <li class="nav-item">
                                        <a class="nav-link" asp-controller="Travel" asp-action="Index"
                                           asp-route-page="1">Trips</a>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                           data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> My trips </a>
                                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                            <a class="dropdown-item" asp-controller="Travel" asp-action="AllAsDriver"
                                               asp-route-page="1">As Driver</a>
                                            <a class="dropdown-item" asp-controller="Travel" asp-action="AllAsPassenger"
                                               asp-route-page="1">As Passenger</a>
                                        </div>
                                    </li>
                                    @if (User.IsInRole("Driver"))
                                    {
                                        <li class="nav-item">
                                            <a asp-controller="Travel" asp-action="CreateTravel" class="nav-link">Create Trip</a>
                                        </li>
                                    }
                                }
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <li class="nav-item">
                                        <a class="nav-link" asp-controller="Feedback" asp-action="Index" asp-route-page="1" asp-route-byPage="5">Feedbacks</a>
                                    </li>

                                }
                                @if (User.IsInRole("Driver") || User.IsInRole("Passenger"))
                                {
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            My Feedbacks
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                            <a class="dropdown-item" asp-controller="Feedback" asp-action="FromMe" asp-route-page="1"> From Me </a>
                                            <a class="dropdown-item" asp-controller="Feedback" asp-action="ThowardsMe" asp-route-page="1"> Towards me </a>
                                            <a class="dropdown-item" asp-controller="Feedback" asp-action="ApplyComment" asp-route-page="1"> Apply Comment </a>
                                        </div>
                                    </li>
                                }
                                @if (User.IsInRole("Driver"))
                                {
                                    <li class="nav-item">
                                        <a class="nav-link" asp-controller="Customer" asp-action="Index" asp-route-showCar="true">Show Car</a>
                                    </li>
                                }
                                else if (User.IsInRole("Passenger"))
                                {
                                    <li class="nav-item">
                                        <a class="nav-link" asp-controller="Car" asp-action="Register"> Register Car </a>
                                    </li>
                                }
                                @if (User.IsInRole("Admin"))
                                {
                                    <li class="nav-item">
                                        <a class="nav-link" asp-controller="Admin" asp-action="Customers"
                                           asp-route-page="1"
                                           asp-route-byPage="5">
                                            Customers
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" asp-controller="Admin" asp-action="Cars"
                                           asp-route-page="1"
                                           asp-route-byPage="5">
                                            Cars
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" asp-controller="Admin" asp-action="Travels"
                                           asp-route-page="1"
                                           asp-route-byPage="5">
                                            Trips
                                        </a>
                                    </li>
                                }
                            </ul>
                            <ul class="navbar-nav navbar-right-wrap ms-auto d-flex nav-top-wrap">
                                <li class="dropdown ms-2">
                                    @if (User.Identity.IsAuthenticated)
                                    {
                                        <a class="rounded-circle" href="#" role="button" id="dropdownUser"
                                           data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <div class="avatar avatar-md avatar-indicators avatar-online">
                                                <img alt=@alt src=@avatar class="rounded-circle" />
                                            </div>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-end"
                                             aria-labelledby="dropdownUser">
                                            <div class="px-4 pb-0 pt-2">
                                                <div class="lh-1 ">
                                                    <h5 class="mb-1"> @fullName</h5>
                                                    @if (User.IsInRole("Admin"))
                                                    {
                                                        <a href="" class="text-inherit fs-6">Administrator</a>
                                                    }
                                                    else
                                                    {
                                                        <a asp-controller="Customer" asp-action="Index" class="text-inherit fs-6">View my profile</a>
                                                    }
                                                </div>
                                                <div class=" dropdown-divider mt-3 mb-2"></div>
                                            </div>
                                            <ul class="list-unstyled">
                                                @if (User.IsInRole("Driver") || User.IsInRole("Passenger"))
                                                {
                                                    <li>
                                                        <a class="dropdown-item" asp-controller="Customer" asp-action="Update">
                                                            <i class="me-2 icon-xxs dropdown-item-icon" data-feather="user"></i>Edit Profile
                                                        </a>
                                                    </li>
                                                }
                                                <li>
                                                    <a class="dropdown-item" asp-controller="Auth" asp-action="Logout">
                                                        <i class="me-2 icon-xxs dropdown-item-icon"
                                                           data-feather="power"></i>Sign Out
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    }
                                    else
                                    {
                                        <a class="nav-link" asp-action="Login" asp-controller="Auth" role="button">Log In</a>
                                    }
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            <!-- basic table -->
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - TangraTravel.MVC - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <!-- Scripts -->
    <!-- Libs JS -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <script src="~/lib/feather-icons/dist/feather.min.js"></script>
    <script src="~/lib/prismjs/components/prism-core.min.js"></script>
    <script src="~/lib/prismjs/components/prism-markup.min.js"></script>
    <script src="~/lib/prismjs/plugins/line-numbers/prism-line-numbers.min.js"></script>
    <script src="~/lib/apexcharts/dist/apexcharts.min.js"></script>
    <script src="~/lib/dropzone/dist/min/dropzone.min.js"></script>

    <!-- clipboard -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.5.12/clipboard.min.js"></script>

    <!-- Theme JS -->
    <script src="~/js/theme.min.js"></script>

    @*<script src="~/js/site.js" asp-append-version="true"></script>*@

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
