﻿@model TangraTravel.MVC.Models.CustomerDto.CustomerIndexViewModel
@{
    ViewData["Title"] = "Overview";
}

<div class="container-fluid px-6 py-4">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-12">
            <!-- Page header -->
            <div>
                <div class="border-bottom pb-4 mb-4 ">
                    <div class="mb-2 mb-lg-0">
                        <h3 class="mb-0 fw-bold">Overview</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row align-items-center">
        <div class="col-xl-12 col-lg-12 col-md-12 col-12">
            <!-- Bg -->
            <div class="pt-20 rounded-top" style="background:
                url(../images/background/profile-cover.jpg) no-repeat;
                background-size: cover;">
            </div>
            <div class="bg-white rounded-bottom smooth-shadow-sm ">
                <div class="d-flex align-items-center justify-content-between
                  pt-4 pb-6 px-4">
                    <div class="d-flex align-items-center">
                        <!-- avatar -->
                        <div class="avatar-xxl avatar-indicators avatar-online me-2
                      position-relative d-flex justify-content-end
                      align-items-end mt-n10">
                            <img src="@this.Model.AvatarUrl" class="avatar-xxl
                        rounded-circle border border-4 border-white-color-40" alt="@this.Model.AvatarAlt">
                        </div>
                        <!-- text -->
                        <div class="lh-1">
                            <h2 class="mb-0">
                                @this.Model.FullName
                                <a href="#!" class="text-decoration-none" data-bs-toggle="tooltip" data-placement="top" title="" data-original-title="Beginner">

                                </a>
                            </h2>
                            <p class="mb-0 d-block">@this.Model.Email</p>
                        </div>
                    </div>
                    <div>
                        <a asp-controller="Customer" asp-action="Update" class="btn btn-outline-primary
                      d-none d-md-block">Edit Profile</a>
                    </div>
                </div>
                <!-- nav -->
                <ul class="nav nav-lt-tab px-4" id="pills-tab" role="tablist">
                    @if (Model.Car)
                    {
                        <li class="nav-item">
                            <a class="nav-link " asp-controller="Customer" asp-action="Index">Overview</a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link active" href="#">Overview</a>
                        </li>
                    }
                    @if (User.IsInRole("Passenger"))
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Car" asp-action="Register">Register Car</a>
                        </li>
                    }
                    else if (User.IsInRole("Driver"))
                    {
                        if (Model.Car)
                        {
                            <li class="nav-item">
                                <a class="nav-link active" href="#">Car</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Customer" asp-action="Index" asp-route-showCar="true">Car</a>
                            </li>
                        }
                    }
                </ul>
            </div>
        </div>
    </div>

    @if (@Model.Car)
    {
        <!--Cards-->
        <div class="py-6">
            <div class="row">
                <div class="col-xl-6 col-lg-12 col-md-12 col-12 mb-6">
                    <div class="card">
                        <!-- card body -->
                        <div class="card-body">
                            @(await Component.InvokeAsync("ShowCar",Model.UserId))
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <!--Cards-->
        <div class="py-6">
            <!-- row -->
            <div class="row">
                <div class="col-xl-6 col-lg-12 col-md-12 col-12 mb-6">
                    <!-- card -->
                    <div class="card">
                        <!-- card body -->
                        <div class="card-body">
                            <!-- card title -->
                            <h4 class="card-title mb-4">Soon Travels</h4>
                            @(await Component.InvokeAsync("NearestTravels",Model.UserId))
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-12 col-md-12 col-12 mb-6">
                    <!-- card -->
                    <div class="card">
                        <!-- card body -->
                        @(await Component.InvokeAsync("FeedbackProfile", Model.UserId))
                    </div>
                </div>
            </div>
        </div>
    }
</div>
