﻿@using TangraTravel.Data.Enum
@model TangraTravel.MVC.Models.CustomerDto.CustomerUpdateViewModel
@{
    ViewData["Title"] = "Update Profile";
}

<div class="container-fluid px-6 py-4">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-12">
            <!-- Page header -->
            <div>
                <div class="border-bottom pb-4 mb-4 ">
                    <div class="mb-2 mb-lg-0">
                        <h3 class="mb-0 fw-bold">General</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- card -->
    <div class="card">
        <!-- card body -->
        <div class="card-body">
            <div class=" mb-6">
                <h4 class="mb-1">General Settings</h4>
            </div>
            <div class="row align-items-center mb-8">
                <div class="col-md-3 mb-3 mb-md-0">
                    <h5 class="mb-0">Avatar</h5>
                </div>
                <div class="col-md-9">
                    <div class="d-flex align-items-center">
                        <div class="me-3">
                            <img src="@this.Model.AvatarUrl" class="rounded-circle avatar avatar-lg" alt="@this.Model.Alt">
                        </div>
                    </div>
                </div>
            </div>
            <!-- col -->
            <div class="row mb-8">
                <div class="col-md-3 mb-3 mb-md-0">
                    <!-- heading -->
                    <h5 class="mb-0">Cover photo</h5>
                </div>
                <div class="col-md-9">
                    <!-- dropzone input -->
                    <div>
                        <form asp-controller="Customer" asp-action="Update" method="post" class="mb-3 " enctype="multipart/form-data">
                            <div class="fallback">
                                <input name="file" type="file" multiple="multiple" />
                            </div>
                            <div>
                                <button type="submit" class="btn btn-outline-white">Change</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div>
                <!-- border -->
                <div class="mb-6">
                    <h4 class="mb-1">Basic information</h4>
                </div>
                <form asp-action="Update" method="post">
                    <!-- row -->
                    <div class="mb-3 row">
                        <label for="" class="col-sm-4 col-form-label
                          form-label">Full name</label>
                        <div class="col-sm-4 mb-3 mb-lg-0">
                            <input type="text" asp-for="FirstName" class="form-control" id="fullName" required>
                            <span asp-validation-for="FirstName" class="alert-danger"></span>
                        </div>
                        <div class="col-sm-4">
                            <input type="text" asp-for="LastName" class="form-control" value="@this.Model.LastName" id="lastName" required>
                            <span asp-validation-for="LastName" class="alert-danger"></span>
                        </div>
                    </div>
                    <!-- row -->
                    <div class="mb-3 row">
                        <label asp-for="Email" class="col-sm-4 col-form-label
                          form-label">Email</label>
                        <div class="col-md-8 col-12">
                            <input type="email" asp-for="Email" class="form-control" value="@this.Model.Email" id="email" required>
                            <span asp-validation-for="Email" class="alert-danger"></span>
                        </div>
                    </div>
                    <!-- row -->
                    <div class="mb-3 row">
                        <label asp-for="Username" class="col-sm-4 col-form-label
                          form-label">Username</label>
                        <div class="col-md-8 col-12">
                            <input type="text" asp-for="Username" class="form-control" placeholder="@this.Model.Username" id="phone" required>
                            <span asp-validation-for="Username" class="alert-danger"></span>
                        </div>
                    </div>
                    <!-- row -->
                    <div class="mb-3 row">
                        <label asp-for="PhoneNumber" class="col-sm-4 col-form-label
                          form-label">Phone</label>
                        <div class="col-md-8 col-12">
                            <input type="text" asp-for="PhoneNumber" class="form-control" placeholder="@this.Model.PhoneNumber" id="phone" required>
                            <span asp-validation-for="PhoneNumber" class="alert-danger"></span>
                        </div>
                    </div>
                    <!-- row -->
                    <div class="mb-3 row">
                        <label asp-for="@this.Model.AddressId" class="col-sm-4 col-form-label form-label">Location</label>
                        <div class="col-md-8 col-12">
                            <select asp-for="AddressId" asp-items="Model.AddressInformation" class="form-select" id="location">
                                <option value="@this.Model.AddressId"></option>
                            </select>
                        </div>
                    </div>
                    <!-- button -->
                    <div class="offset-md-4 col-md-8 col-12 mt-3">
                        <button type="submit" class="btn btn-primary"> Save Changes </button>
                    </div>
                </form>
                <!-- Change Password-->
                <div class="mb-6 mt-6">
                    <h4 class="mb-1">Change your password</h4>
                </div>
                <form asp-action="ChangePassword" method="post">
                    <!-- row -->
                    <div class="mb-3 row">
                        <label asp-for="Password" class="col-sm-4 col-form-label form-label">New Password</label>
                        <div class="col-md-8 col-12">
                            <input type="password" asp-for="Password" class="form-control" placeholder="Enter Current password" id="currentPassword" required>
                            <span asp-validation-for="Password" class="alert-danger"></span>
                        </div>
                    </div>
                    <!-- row -->
                    <div class="mb-3 row">
                        <label asp-for="ConfirmPassword" class="col-sm-4 col-form-label form-label">Confirm New Password</label>
                        <div class="col-md-8 col-12">
                            <input type="password" asp-for="ConfirmPassword" class="form-control" placeholder="Enter New password" id="currentNewPassword" required>
                            <span asp-validation-for="ConfirmPassword" class="alert-danger"></span>
                        </div>
                    </div>
                    <!-- row -->
                    <div class="row align-items-center">
                        <!-- list -->
                        <div class="offset-md-4 col-md-8 col-12 mt-4">
                            <h6 class="mb-1">Password requirements:</h6>
                            <p>Ensure that these requirements are met:</p>
                            <ul>
                                <li> Minimum 8 characters long the more, the better</li>
                                <li>At least one lowercase character</li>
                                <li>At least one uppercase character</li>
                                <li> At least one number, symbol, or whitespace character </li>
                            </ul>
                            <button type="submit" class="btn btn-primary"> Save Changes </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}
