﻿@model IEnumerable<TangraTravel.MVC.Models.TravelDtos.ApplicantStatusViewModel>

<!-- card header  -->
<div class="card-header p-4 bg-white">
    <h4 class="mb-0">Trip applicants</h4>
</div>
<!-- card body  -->
<div class="card-body">
    @foreach (var applicant in this.Model)
    {
        <!-- row  -->
        <div class="row">
            <form>
                <!-- row -->
                <div class="mb-3 row">
                    <label class="col-sm-6 col-form-label form-label"> @applicant.FullName</label>
                    <div class="col-sm-3">
                        <a class="btn btn-info" style="cursor: default">
                            @applicant.ApplyStatus.ToString()
                        </a>
                    </div>
                    <div class="col-sm-3">
                        <a class="btn btn-outline-dark"
                           asp-controller="Travel" asp-action="TravelPassengerDetails" asp-route-travelPassId="@applicant.TravelPassengerId">
                            Edit
                        </a>
                    </div>
                </div>
            </form>
        </div>
    }
</div>