﻿@using TangraTravel.Service.Enum
@model TangraTravel.Service.Models.CustomerDtos.CustomerSearchByDto

<form asp-action="Search" method="get">
    <!-- Select Option -->
    <div class="mb-3 row">
        <label class="col-sm-1 col-form-label form-label" for="selectOne"> Criteria </label>
        <div class="col-md-3 col-12">
            <select asp-for="Criteria" asp-items="Html.GetEnumSelectList<SearchBy>()"
                    class="form-select" aria-label="Default select example">
            </select>
        </div>
    </div>
    <!-- Search input -->
    <div class="mb-3 row">
        <label for="search-input" class="col-sm-1 col-form-label form-label">Search</label>
        <div class="col-md-3 col-12">
            <input asp-for="Value" class="form-control" type="search" id="search-input" placeholder="Search">
        </div>
    </div>
</form>