﻿@model TangraTravel.MVC.Models.CarDto.CarViewModel

<div class="card" style="width: 20rem;">
    <img style="width:150px;" src="@Model.Avatar.ImageUrl" class="card-img-top" alt="@Model.Avatar.Alt">
    <div class="card-body">
        <h5 class="card-title">Model: @Model.Model</h5>
        <p class="card-text">Registration number: @Model.RegistrationNumber</p>
        <p class="card-text">Seats: @Model.Seats</p>
        @if (Model.ErrorMessage != null)
        {
            <h5 class="card-subtitle alert alert-warning">Message: @Model.ErrorMessage</h5>
        }

        <a asp-controller="Car" asp-action="Update" class="btn btn-primary">Update</a>
        <a asp-controller="Car" asp-action="Delete" class="btn btn-danger">Delete</a>
    </div>
</div>