﻿
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Start point</th>
            <th scope="col">End point</th>
            <th scope="col">Departure Time</th>
            <th scope="col">FreeSeats</th>
            <th scope="col">Comment</th>
            <th scope="col">Driver Name</th>
            <th scope="col">Status</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Travels)
        {
        <tr>
            <th scope="row">@item.TravelId</th>
            <td>@item.StartAddress</td>
            <td>@item.EndAddress</td>
            <td>@item.DepartureTime</td>
            <td>@item.FreeSeats</td>
            <td>@item.Comment</td>
            <td>@item.DriverName</td>
            <td>@item.Status</td>
        </tr>
        }
    </tbody>
</table>
<nav aria-label="Page navigation example">
    <ul class="pagination">
        @if (Model.Page > 1)
        {
        <li class="page-item">
            <a class="page-link"
               asp-action="@ViewData["Action"]"
               asp-route-page="@(Model.Page-1)"
               asp-route-byPage="@Model.ByPage" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        }
        <li class="page-item"><a class="page-link">@Model.Page</a></li>
        @if (Model.Page + 1 <= Model.MaxPage)
        {
        <li class="page-item">
            <a class="page-link"
               asp-action="@ViewData["Action"]"
               asp-route-page="@(Model.Page+1)"
               asp-route-byPage="@Model.ByPage" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
        }
    </ul>
</nav>