﻿@model TangraTravel.MVC.Models.TravelDtos.SortViewModel

<div class="container-fluid px-6 py-4">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-12">
            <!-- Page header -->
            <div>
                <div class="border-bottom pb-4 mb-4 ">
                    <div class="mb-2 mb-lg-0">
                        <h3 class="mb-0 fw-bold">Trip sorting</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <!-- card header  -->
        <div class="card-header p-4 bg-white">
            <h4 class="mb-0">Select sorting criterion</h4>
        </div>
        <!-- card body  -->
        <div class="card-body">
            <!-- row  -->
            <div class="row">
                <form asp-action="SortAllTravels" method="get">
                    <!-- row -->
                    <div class="mb-3 row">
                        <label asp-for="@this.Model.Criterion" class="col-sm-3 col-form-label form-label">Sorting criterion</label>
                        <div class="col-md-8 col-12">
                            <select asp-for="Criterion" class="form-select" id="sortingCriterion">
                                <option value="freeSeats"> Free seats </option>
                                <option value="depTime"> Departure time</option>
                            </select>
                        </div>
                        <div class="col-sm-1">
                            <button type="submit" class="btn btn-primary"> @ViewData["ButtonValue"] </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>