﻿@model TangraTravel.MVC.Models.Admin.CarAdminViewModel

@{
    ViewData["Title"] = "Cars";
}

<div class="container-fluid px-6 py-4">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-12">
            <!-- Page header -->
            <div>
                <div class="border-bottom pb-4 mb-4 ">
                    <div class="mb-2 mb-lg-0">
                        <h3 class="mb-0 fw-bold">Cars</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Avatar</th>
                <th scope="col">Owner</th>
                <th scope="col">Brand</th>
                <th scope="col">Model</th>
                <th scope="col">Registration</th>
                <th scope="col">Seats</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Cars)
            {
                <tr>
                    <td>
                        <div class="avatar">
                            <img alt=@item.Avatar.Alt src=@item.Avatar.ImageUrl class="rounded-circle" />
                        </div>
                    </td>
                    <td>@item.Owner</td>
                    <td>@item.Brand</td>
                    <td>@item.Model</td>
                    <td>@item.RegistrationNumber</td>
                    <td>@item.Seats</td>
                </tr>
            }
        </tbody>
    </table>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            @if (Model.Page > 1)
            {
                <li class="page-item">
                    <a class="page-link" asp-action="Cars"
                       asp-route-page="@(Model.Page-1)"
                       asp-route-byPage="@Model.ByPage" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            }
            <li class="page-item"><a class="page-link" href="#">@Model.Page</a></li>
            @if (Model.Page + 1 <= Model.MaxPage)
            {
                <li class="page-item">
                    <a class="page-link"
                       asp-action="Cars"
                       asp-route-page="@(Model.Page+1)"
                       asp-route-byPage="@Model.ByPage" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            }
        </ul>
    </nav>
</div>