﻿@model TangraTravel.MVC.Models.Admin.CustomerAdminPaginationViewModel

@{
    ViewData["Title"] = "Customers";
}

<div class="container-fluid px-6 py-4">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-12">
            <!-- Page header -->
            <div>
                <div class="border-bottom pb-4 mb-4 ">
                    <div class="mb-2 mb-lg-0">
                        <h3 class="mb-0 fw-bold">Customers</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @(await Component.InvokeAsync("AdminSearch"))
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Avatar</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Username</th>
                <th scope="col">Phone</th>
                <th scope="col">Role</th>
                <th scope="col">Blocking</th>
                <th scope="col">Address</th>
                <th scope="col">Car Brand</th>
                <th scope="col">Car Model</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Customers)
            {
                <tr>
                    <td>
                        <div class="avatar">
                            <img alt="N/A" src=@item.AvatarUrl class="rounded-circle" />
                        </div>
                    </td>
                    <td>@item.FullName</td>
                    <td>@item.Email</td>
                    <td>
                        <a asp-action="Customer" asp-route-customerId="@item.CustomerId">
                            @item.Username
                        </a>
                    </td>
                    <td>@item.PhoneNumber</td>
                    <td>@item.Role</td>
                    <td>
                        @if (item.StatusProfile)
                        {
                            <a asp-action="ChangeStatusProfile" asp-route-customerId="@item.CustomerId"
                               asp-route-blocking="false" class="btn btn-primary">Unblock</a>
                        }
                        else
                        {
                            <a asp-action="ChangeStatusProfile" asp-route-customerId="@item.CustomerId"
                               asp-route-blocking="true" class="btn btn-danger">Block</a>
                        }
                    </td>
                    <td>@item.Address</td>
                    <td>
                        @if (item.Role == "Driver")
                        {
                            <div class="avatar">
                                <img alt="@item.CarAvatar.Alt" src=@item.CarAvatar.ImageUrl class="rounded-circle" />
                            </div>
                        }
                        else
                        {
                            <p>Empty</p>
                        }
                    </td>
                    <td>@item.CarModel</td>
                </tr>
            }
        </tbody>
    </table>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            @if (Model.Page > 1)
            {
                <li class="page-item">
                    <a class="page-link" asp-action="Customers"
                       asp-route-page="@(Model.Page-1)"
                       asp-route-byPage="@Model.ByPage" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            }
            <li class="page-item"><a class="page-link" href="#">@Model.Page</a></li>
            @if (Model.Page + 1 <= Model.MaxPage)
            {
                <li class="page-item">
                    <a class="page-link"
                       asp-action="Customers"
                       asp-route-page="@(Model.Page+1)"
                       asp-route-byPage="@Model.ByPage" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            }
        </ul>
    </nav>
</div>