﻿@model TangraTravel.MVC.Models.Admin.CustomerAdminDto
@{
    ViewData["Title"] = "Customer Info";
}

<div class="container-fluid px-6 py-4">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-12">
            <!-- Page header -->
            <div>
                <div class="border-bottom pb-4 mb-4 ">
                    <div class="mb-2 mb-lg-0">
                        <h3 class="mb-0 fw-bold">Customer Information</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <!-- card header  -->
        <div class="card-header p-4 bg-white">
            <h4 class="mb-0">Customer details</h4>
        </div>
        <!-- card body  -->
        <div class="card-body">
            <div class="avatar-xxl">
                <img alt="N/A" src=@Model.AvatarUrl class="avatar-xxl rounded-circle border border-4 border-white-color-40">
            </div>
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-12">
                    <ul class="list-group">
                        <li class="list-group-item">Full Name: @Model.FullName</li>
                        <li class="list-group-item">Email: @Model.Email</li>
                        <li class="list-group-item">Username: @Model.Username</li>
                        <li class="list-group-item">Phone: @Model.PhoneNumber</li>
                        <li class="list-group-item">Role: @Model.Role</li>
                        <li class="list-group-item">
                            Status Profile: @if (Model.StatusProfile)
                            {
                                <span class="badge rounded-pill bg-danger">Blocked</span>
                                <a class="badge rounded-pill bg-info" asp-action="ChangeStatusProfile" asp-route-customerId="@Model.CustomerId" asp-route-blocking="false">ChangeStatus</a>
                            }
                            else
                            {
                                <span class="badge rounded-pill bg-success">Unblocked</span>
                                <a class="badge rounded-pill bg-info" asp-action="ChangeStatusProfile" asp-route-customerId="@Model.CustomerId" asp-route-blocking="true">ChangeStatus</a>
                            }
                        </li>
                        <li class="list-group-item">Address: @Model.Address</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>