﻿@model TangraTravel.MVC.Models.LoginDto.LoginViewModel

@{
    this.ViewData["Title"] = "Login";
}

<div class="container d-flex flex-column">
    <div class="row align-items-center justify-content-center g-0 min-vh-100">
        <div class="col-12 col-md-8 col-lg-6 col-xxl-4 py-8 py-xl-0">
            <!-- Card -->
            <div class="card smooth-shadow-md">
                <!-- Card body -->
                <div class="card-body p-6">
                    <!-- Danger alert -->
                    <div class="alert alert-danger" role="alert">
                        Your registration has not been confirmed, please check your email and try again!
                    </div>
                    <div class="mb-4">
                        <p class="mb-6">Sign In </p>
                        <p class="mb-6">Please enter your user information.</p>
                    </div>
                    <!-- Form -->
                    <form asp-action="Login" method="post">
                        <!-- Username -->
                        <div class="mb-3">
                            <label asp-for="Email" class="form-label">Email</label>
                            <input asp-for="Email" type="email" id="email" class="form-control" name="email" placeholder="Email address here" required="">
                        </div>
                        <!-- Password -->
                        <div class="mb-3">
                            <label asp-for="Password" class="form-label">Password</label>
                            <input asp-for="Password" type="password" id="password" class="form-control" name="password" placeholder="**************" required="">
                            <span asp-validation-for="Password" class="alert-dark-info"></span>
                        </div>
                        <div>
                            <!-- Button -->
                            <div class="d-grid">
                                <button type="submit" class="btn btn-primary">
                                    Sign in
                                </button>
                            </div>
                            <br />
                            <div class="d-grid">
                                <a class="btn btn-primary"
                                   asp-controller="Auth" asp-action="Register">
                                    Sign up
                                </a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}