﻿@using TangraTravel.Data.Enum
@model TangraTravel.MVC.Models.CustomerDto.CustomerUpdateViewModel

@{
    this.ViewData["Title"] = "Register";
}

<div class="container d-flex flex-column">
    <div class="row align-items-center justify-content-center g-0
        min-vh-100">
        <div class="col-12 col-md-8 col-lg-6 col-xxl-4 py-8 py-xl-0">
            <!-- Card -->
            <div class="card smooth-shadow-md">
                <!-- Card body -->
                <div class="card-body p-6">
                    <div class="mb-4">
                        <p class="mb-6">Please enter your user information.</p>
                    </div>
                    <!-- Form -->
                    <form asp-action="Register" method="post">
                        <!-- Username -->
                        <div class="mb-3">
                            <label asp-for="FirstName" class="form-label">Username</label>
                            <input type="text" asp-for="Username" class="form-control" placeholder="@this.Model.Username" id="phone" required>
                            <span asp-validation-for="Username" class="alert-danger"></span>
                        </div>
                        <!-- First name -->
                        <div class="mb-3">
                            <label asp-for="LastName" class="form-label">First name</label>
                            <input type="text" asp-for="FirstName" class="form-control" id="fullName" required>
                            <span asp-validation-for="FirstName" class="alert-danger"></span>
                        </div>
                        <!-- Last name -->
                        <div class="mb-3">
                            <label asp-for="Username" class="form-label">Last name</label>
                            <input type="text" asp-for="LastName" class="form-control" value="@this.Model.LastName" id="lastName" required>
                            <span asp-validation-for="LastName" class="alert-danger"></span>
                        </div>
                        <!-- Phone number -->
                        <div class="mb-3">
                            <label asp-for="PhoneNumber" class="form-label">Phone number</label>
                            <input type="text" asp-for="PhoneNumber" class="form-control" placeholder="@this.Model.PhoneNumber" id="phone" required>
                            <span asp-validation-for="PhoneNumber" class="alert-danger"></span>
                        </div>
                        <!-- Address -->
                        <div class="mb-3">
                            <label asp-for="AddressId" class="form-label">Address</label>
                            <select asp-for="AddressId" asp-items="Model.AddressInformation" class="form-select" id="location">
                                <option value="@this.Model.AddressId"></option>
                            </select>
                        </div>
                        <!-- Email -->
                        <div class="mb-3">
                            <label asp-for="Email" class="form-label">Email</label>
                            <input type="email" asp-for="Email" class="form-control" value="@this.Model.Email" id="email" required>
                            <span asp-validation-for="Email" class="alert-danger"></span>
                        </div>
                        <!-- Password -->
                        <div class="mb-3">
                            <label asp-for="Password" class="form-label">Password</label>
                            <input type="password" asp-for="Password" class="form-control" placeholder="Enter password" id="password" required>
                            <span asp-validation-for="Password" class="alert-danger"></span>
                        </div>
                        <div>
                            <!-- Button -->
                            <div class="d-grid">
                                <button type="submit" class="btn btn-primary">
                                    Register account
                                </button>
                            </div>

                            <div class="d-md-flex justify-content-between mt-4">
                                <div class="mb-2 mb-md-0">
                                    <a asp-action="Login" asp-controller="Auth" class="fs-5">
                                        Already have registration? Login
                                    </a>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}