﻿@model ICollection<TangraTravel.Service.Models.TravelDtos.TravelStoreDto>
@{
    int index = 1;
}

@foreach (var travel in Model)
{
    <span class="text-uppercase fw-medium text-dark
                      fs-5 ls-2">Travel: @(index++)</span>
    <!-- text -->
    <div class="mt-0 mb-0"> ->Departure Date:@travel.DepartureDate </div>
    <div class="mt-0 mb-0"> ->Departure Destination:@travel.StartPoint </div>
    <div class="mt-0 mb-0"> ->Arrival Destination:@travel.EndPoint </div>
    <div class="mt-0 mb-0"> ->Status Travel: @travel.StatusTravel </div>
    <div class="mt-0 mb-0"> ->Driver:@travel.Driver </div>
    @foreach (var passenger in travel.TravelPassengers)
    {
        <div class="mt-0 mb-0"> -Passenger:@passenger.Passenger </div>
    }
}